<a href="https://colab.research.google.com/github/2303A51630/ADMLAB/blob/main/ADM_LAB06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv('/content/university_student.csv')

In [2]:
print("Original Dataset:")
print(df.head())

Original Dataset:
   Student ID  Gender Date of Birth  Study Time Grade School Type  Absences  \
0           1    Male    1996-12-03          11     D      Public         2
1           2  Female    2001-09-15           5     D     Private         0
2           3    Male    2002-08-09           8     A     Private         2
3           4    Male    1999-04-29           8     A     Private         3
4           5    Male    1995-06-11           9     B     Private         1

   Math Score  Reading Score  Writing Score
0          72             91             69
1          66             58             62
2          75             99             77
3          57             76             97
4          78             51             78

In [3]:
df.fillna(df.mean(numeric_only=True), inplace=True)

In [4]:
df = pd.get_dummies(df, columns=['Gender', 'School Type'], drop_first=True)

In [5]:
label_encoder = LabelEncoder()
df['Grade'] = label_encoder.fit_transform(df['Grade'])

In [10]:
df['Year of Birth'] = pd.to_datetime(df['Date of Birth']).dt.year

df['Age'] = 2025 - df['Year of Birth']
df['Year of Birth'] = pd.to_datetime(df['Date of Birth']).dt.year

df['Age'] = 2025 - df['Year of Birth']

math_score_col = 'Math Score'

In [14]:
df['Total Score'] = df['Math Score'] + df['Reading Score'] + df['Writing Score']
grouped_df = df.groupby('Grade')['Total Score'].mean().reset_index()

In [15]:
print("\nProcessed Dataset:")
print(df.head())
print("\nGrouped and Aggregated Data:")
print(grouped_df)

Processed Dataset:
   Student ID Date of Birth  Study Time  Grade  Absences  Math Score  \
0           1    1996-12-03          11      3         2          72
1           2    2001-09-15           5      3         0          66
2           3    2002-08-09           8      0         2          75
3           4    1999-04-29           8      0         3          57
4           5    1995-06-11           9      1         1          78

   Reading Score  Writing Score  Gender_Male  School Type_Public  \
0             91             69         True                True
1             58             62        False               False
2             99             77         True               False
3             76             97         True               False
4             51             78         True               False

   Year of Birth  Age  Total Score
0           1996   29          232
1           2001   24          186
2           2002   23          251
3           1999   26          230
4           1995   30          207

Grouped and Aggregated Data:
   Grade  Total Score
0      0   232.535714
1      1   215.500000
2      2   230.428571
3      3   227.304348
4      4   210.062500